$grey: #fafafa;
$grey-light: #dcdcdc;
$purple: #246394;
$titleColor: #737373;
$textColor: #333333;
$tagColor: #999999;
$topicBorder: #d4d6d8;
$summaryColor: #737373;
$tipsColor: #a3a3a3;
$white: #ffffff;
$pointColor: #b2b2b2;
$borderColor: #e6e6e6;
