@import "../../style/mixins";
@import "../../style/color";
@import "../../style/font";

.main {
  margin: 38px auto 0;
  background-color: $white;
  .wrapper {
    @include spaceBetween;
    .content {
      flex: 1;
      .itemList {
      }
    }
    .side {
      margin-left: 30px;
      width: 292px;
    }
  }
  .listButtonFix {
    margin: 25px 0 65px;
    .listButton {
      height: 40px;
      line-height: 40px;
      font-size: $font-size-small;
      width: 100%;
      font-weight: 500;
      color: gray;
      border: 1px solid #d7d8db;
      position: relative;
      border-radius: 6px;
      text-align: center;
      background-color: $white;
      cursor: pointer;
      &:hover {
        background-color: $grey;
      }
    }
    .loadingIcon {
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 769px) {
  .main {
    width: 748px;
  }
}
@media screen and (min-width: 1201px) {
  .main {
    width: 960px;
  }
}
